.navbar-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    list-style: none;
}

.navbar-list a:hover {
    color: #ffdd57;
    font-weight: bold;
}



