.characters-home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    padding-top: 300px;
}

.character-card {
    display: flex;
    align-items: center;
    width: 800px;
    background-color: burlywood;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
}

.character-card img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border-radius: 8px;
    object-fit: cover;
}

.card-info {
    flex-grow: 1;
}

.card-info h3 {
    margin: 0;
    font-size: 18px;
    color: #3399ff;
}

.card-info p {
    margin: 5px 0;
    font-size: 14px;
}

